* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background: #adaaaa;
}

img {
    width: 100%;
}

/* menu start */

.navbar {
    list-style-type: none;
    background-color: rgb(7, 177, 106);
    overflow: hidden;
    padding: 16px;
    position: sticky;
    top: 0;
    margin-bottom: 25px;
}

.navbar ul {
    list-style: none;
    margin: 0;
}

.navbar ul li {
    float: right;
    display: inline-block;

}

.navbar ul li a {
    padding: 16px 26px;
    transition: .5s;
    color: aliceblue;

}

.navbar ul li a:hover {
    background: aqua;
}

/* menu end */

/* header start */


.bsns {
    font-size: 45px;

}

.pjt {
    padding: 20px;
    font-size: 20px;

}

.btn {
    background-color: blue;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 15%;
}



/* header end */

.para {
    padding: 35px;
    background-color: aquamarine;
    margin: 16px;
    font-size: 20px;
    border-radius: 15px;
}

.dv {
    margin: 35px;
    display: inline-block;
    border-color: black;
    overflow: hidden;
}

.c {
    background-color: blue;
    color: azure;
    margin: 25px;
    
}

.cc {
    background-color: blue;
    color: azure;
    margin: 25px;
    
}

.ccc { background-color: blue;
    color: azure;
    margin: 25px;
    
}


.ftr {
    background-color: rgb(145, 143, 143);
    text-align: center;
    padding: 45px;
}



.container {
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row::after {
    content: '';
    clear: both;
    display: table;
}


[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}